<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> evitar guardar la información:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if contact.donor? %>
    <div class="form-group">
      <%= form.collection_select :background, donor_backgrounds, :first, :second, {}, class: 'form-control' %>
    </div>
  <% else %>
    <div class="form-group">
      <%= form.label :hospital_id, 'Hospital' %>
      <%= form.collection_select :hospital_id, hospitals, :id, :name, {}, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :first_name, class: 'form-control', placeholder: 'Nombre' %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Apellido' %>
  </div>

  <div class="form-group">
    <%= form.text_field :mobile, class: 'form-control', placeholder: 'Teléfono de contacto (es opcional pero recomendado)' %>
  </div>

  <div class="form-group">
    <%= form.text_field :email, class: 'form-control', placeholder: 'Correo Electrónico' %>
  </div>

  <div class="form-group">
    <%= form.collection_select :blood_type, blood_types, :first, :first, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_area :details, class: 'form-control', placeholder: 'Detalles' %>
  </div>

  <div class="form-group">
    <%= form.label :status, (contact.donor? ? 'En estos momentos puedo donar' : 'Buscar donantes ahora') %>
    <%= form.collection_select :status, contact_status, :first, :first, {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.hidden_field :kind %>
    <a href="<%= contacts_path %>" class="btn btn-secondary active" role="button" aria-pressed="true">Regresar</a>
    <% if Contact.exists?(contact.id) %>
      <%= link_to 'Eliminar', contact, method: :delete, data: { confirm: "¿Esta seguro de querer eliminar el contacto?" }, class: 'btn shot_clic btn-danger active' %>
    <% end %>
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
