<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> evitar guardar la información:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :hospital_id, 'Hospital' %>
    <%= form.collection_select :hospital_id, hospitals, :id, :name, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_field :first_name, class: 'form-control', placeholder: 'Nombre' %>
  </div>

  <div class="form-group">
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Apellido' %>
  </div>

  <div class="form-group">
    <%= form.text_field :mobile, class: 'form-control', placeholder: 'Teléfono de contacto' %>
  </div>

  <div class="form-group">
    <%= form.collection_select :blood_type, blood_types, :first, :first, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_area :details, class: 'form-control', placeholder: 'Detalles' %>
  </div>

  <div class="form-group">
    <%= form.label :status, '¿Desea continuar buscando donantes?' %>
    <%= form.collection_select :status, contact_status, :first, :first, {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <a href="<%= contacts_path %>" class="btn btn-secondary active" role="button" aria-pressed="true">Regresar</a>
    <%= form.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>