<div class="container">
  <% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div id="alert" class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
</div>
<div class="container">
  <h5><strong>A tomar en cuenta</strong></h5>
</div>
<div class='py-0 dots'>
  <div class="card-group">
    <div class="card">
      <img src="/pict/Group 1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title py-1"><strong>Chécate</strong></h5>
        <p class="card-text">Debes <strong><span class="text-success">ser recuperado</span></strong> de <span class="text-primary">#covid-19</span> y con buena salud.</p>
      </div>
      <!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 01</small></p>
			</div>
 			-->
    </div>
    <div class="card">
      <img src="/pict/Group 2.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title py-1"><strong>Busca</strong></h5>
        <p class="card-text">Hay personas con tu tipo de sangre que te necesitan.</p>
      </div>
      <!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 02</small></p>
			</div>
 			-->
    </div>
    <div class="card">
      <img src="/pict/Group 3.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title py-1"><strong>Contacta</strong></h5>
        <p class="card-text">Elige un paciente con tu tipo de sangre para donar.</p>
      </div>
      <!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 03</small></p>
			</div>
 			-->
    </div>
    <div class="card">
      <img src="/pict/Group 4.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title py-1"><strong>Dona</strong></h5>
        <p class="card-text">Debes ir al hospital a donar sangre. No olvides el nombre.</p>
      </div>
      <!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 04</small></p>
			</div>
 			-->
    </div>
    <div class="card">
      <img src="/pict/Group 5.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title py-1"><strong>Cuídate</strong></h5>
        <p class="card-text">Dona cada 8 días, máximo 4 seguidas. Espera 1 mes.</p>
      </div>
      <!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 05</small></p>
			</div>
 			-->
    </div>
    <div class="card">
      <img src="/pict/Group 6.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title py-1"><strong>Infórmate</strong></h5>
        <p class="card-text">Encuentra más info en <a href='https://twitter.com/EICEES/status/1275111470259453954' target='_BLANK'>@EICEES</a>.</p>
      </div>
      <!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 06</small></p>
			</div>
 			-->
    </div>
  </div>
</div>
<br/>
<br/>
<div class="container head_shot">
  <div class='p-0 m-0 text-right'>
    <% if user_signed_in? %>
      <a href="<%= new_contact_path %>" class="btn shot_clic btn-primary active" role="button" aria-pressed="true">+Agregar paciente</a>
      <a href="<%= new_donor_path %>" class="btn shot_clic btn-danger active" role="button" aria-pressed="true">+Agregar donante</a>
      <a href="<%= destroy_user_session_path %>" class="btn shot_clic btn-secondary active" role="button" aria-pressed="true" data-method="delete">Cerrar sesión</a>
    <% else %>
      <a href="<%= new_contact_path %>" class="btn shot_clic btn-primary active" role="button" aria-pressed="true">+Agregar paciente</a>
      <a href="<%= new_donor_path %>" class="btn shot_clic btn-danger active" role="button" aria-pressed="true">+Agregar donante</a>
      <a href="<%= new_user_session_path %>" class="btn shot_clic btn-secondary active" role="button" aria-pressed="true">Iniciar sesión</a>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="pt-3 pb-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link <%= params[:donors] ? '' : 'active' %>" href="<%= contacts_path %>">Pacientes que necesitan plasma</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= params[:donors] ? 'active' : '' %>" href="<%= contacts_path(donors: 1) %>">Donantes de plasma</a>
      </li>
    </ul>
    <table class='table table-hover table-responsive-sm'>
      <thead class='thead-dark thead-relative'>
        <tr>
          <th class="th-sticky th-sticky-by-minus-1-px" scope='col'></th>
          <th class="th-sticky th-sticky-by-minus-1-px" scope='col'>Tipo</th>
          <% if params[:donors] %>
            <th class="th-sticky th-sticky-by-minus-1-px" scope='col'>Historial del donante</th>
          <% else %>
            <th class="th-sticky th-sticky-by-minus-1-px" scope='col'>Hospital</th>
          <% end %>
          <th class="th-sticky th-sticky-by-minus-1-px" scope='col'>Contacto</th>
          <th class="th-sticky th-sticky-by-minus-1-px" scope='col'>Nombre</th>
          <th class="th-sticky th-sticky-by-minus-1-px" scope='col'>Apellido</th>
          <% unless params[:donors] %>
            <th class="th-sticky th-sticky-by-minus-1-px" scope='col'>Info</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td scope='row' class='cell'>
              <a href="<%= contact_path(contact) %>" class="btn btn-light active btn-sm shot_clic btn-action" role="button" aria-pressed="true">Ver más</a>
              <% if policy(contact).edit? %>
                <a href="<%= edit_contact_path(contact) %>" class="btn btn-light active btn-sm shot_clic mt-1 btn-action" role="button" aria-pressed="true">Actualizar</a>
              <% end %>
            </td>
            <td scope='row'><%= contact.blood_type %></td>
            <td scope='row'><%= params[:donors] ? donor_background_translation(contact.background) : contact.hospital&.name %></td>
            <td scope='row'><a href="tel:<%= contact.mobile %>"><%= contact.mobile %></a></td>
            <td scope='row'><%= contact.first_name %></td>
            <td scope='row'><%= contact.last_name %></td>
            <% unless params[:donors] %>
              <td scope='row'><%= contact.details %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
