

<div class="container">
	<% if notice %>
		<div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
	<% end %>
	<% if alert %>
		<div id="alert" class="alert alert-danger" role="alert"><%= alert %></div>
	<% end %>
</div>



<div class="container">
	<h5 class="p-0 m-1"><strong><em>Debes tomar en cuenta</strong></em></h5>
</div>
<div class='py-0 dots'>
	<div class="card-group">
		<div class="card">
			<img src="/pict/Group 1.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title"><strong><em>Chécate</strong></em></h5>
				<p class="card-text"><em>Debes ser recuperado de <span>#covid-19</span> y con buena salud.</em></p>
			</div>
			<!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 01</small></p>
			</div>
 			-->
		</div>
		<div class="card">
			<img src="/pict/Group 2.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title"><strong><em>Busca</strong></em></h5>
				<p class="card-text"><em>Hay personas con tu tipo de sangre que te necesitan.</em></p>
			</div>
			<!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 02</small></p>
			</div>
 			-->
		</div>
		<div class="card">
			<img src="/pict/Group 3.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title"><strong><em>Contacta</strong></em></h5>
				<p class="card-text"><em>Elige un paciente con tu tipo de sangre para donar sangre.</em></p>
			</div>
			<!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 03</small></p>
			</div>
 			-->
		</div>
		<div class="card">
			<img src="/pict/Group 4.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title"><strong><em>Dona</strong></em></h5>
				<p class="card-text"><em>Debes ir al hospital a donar sangre. No olvides el nombre.</em></p>
			</div>
			<!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 04</small></p>
			</div>
 			-->
		</div>
		<div class="card">
			<img src="/pict/Group 5.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title"><strong><em>Cuídate</strong></em></h5>
				<p class="card-text"><em>Dona cada 8 días, máximo 4 seguidas. Espera 1 mes.</em></p>
			</div>
			<!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 05</small></p>
			</div>
 			-->
		</div>
		<div class="card">
			<img src="/pict/Group 6.png" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title"><strong><em>Infórmate</strong></em></h5>
				<p class="card-text"><em>Encuentra más info en <a href='https://twitter.com/EICEES/status/1275111470259453954' target='_BLANK'>@EICEES</a>.</em></p>
			</div>
			<!-- 
			<div class="card-footer">
				<p class="card-text"><small class="text-muted">paso 06</small></p>
			</div>
 			-->
		</div>
	</div>
</div>


<br/>
<br/>
<div class="container head_shot">
	<div class='p-0 m-0 text-right'>
		<% if user_signed_in? %>
			<a href="<%= new_contact_path %>" class="btn shot_clic btn-primary active" role="button" aria-pressed="true">+Agregar paciente</a>
			<a href="<%= destroy_user_session_path %>" class="btn shot_clic btn-secondary active" role="button" aria-pressed="true" data-method="delete">Cerrar sesión</a>
		<% else %>
			<a href="<%= new_user_registration_path %>" class="btn shot_clic btn-primary active" role="button" aria-pressed="true">+Agregar paciente</a>
			<a href="<%= new_user_session_path %>" class="btn shot_clic btn-secondary active" role="button" aria-pressed="true">Iniciar sesión</a>
		<% end %>
	</div>
</div>

<div class="container">
	<h5 class="p-0 m-1"><strong><em>Listado de pacientes que necesitan plasma</strong></em></h5>
</div>
<div class="container">
	<table class='table table-hover table-responsive-sm'>
		<thead class='thead-dark'>
			<tr>
				<th scope='col'></th>
				<th scope='col'>Tipo</th>
				<th scope='col'>Hospital</th>
				<th scope='col'>Contacto</th>
				<th scope='col'>Nombre</th>
				<th scope='col'>Apellido</th>
				<th scope='col'>Info</th>
			</tr>
		</thead>

		<tbody>
			<% @contacts.each do |contact| %>
				<tr>
					<td scope='row' class='cell <% if policy(contact).edit? %>cell_dual<% end %>'>
						<a href="<%= contact_path(contact) %>" class="btn btn-light active btn-sm shot_clic" role="button" aria-pressed="true">Ver más</a>
						<% if policy(contact).edit? %>
							<a href="<%= edit_contact_path(contact) %>" class="btn btn-light active btn-sm shot_clic" role="button" aria-pressed="true">Actualizar</a>
						<% end %>
					</td>
					<td scope='row'><%= contact.blood_type %></td>
					<td scope='row'><%= contact.hospital.name %></td>
					<td scope='row'><a href="tel:<%= contact.mobile %>"><%= contact.mobile %></a></td>
					<td scope='row'><%= contact.first_name %></td>
					<td scope='row'><%= contact.last_name %></td>
					<td scope='row'><%= contact.details %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

