<div class="container container__small">
  <% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div id="alert" class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
</div>
<div class="container container__small">
  <h5>Información</h5>
  <div class='py-4'>
    <p>
      <strong>Hospital:</strong>
      <%= @contact.hospital.name %>
    </p>
    <p>
      <strong>Nombre:</strong>
      <%= @contact.first_name %>
    </p>
    <p>
      <strong>Apellido:</strong>
      <%= @contact.last_name %>
    </p>
    <p>
      <strong>Teléfono de contacto:</strong>
      <%= @contact.mobile %>
    </p>
    <p>
      <strong>Tipo de Sangre:</strong>
      <%= @contact.blood_type %>
    </p>
    <p>
      <strong>Detalles:</strong>
      <%= @contact.details %>
    </p>
    <div class='py-4 text-center mt-4'>
      <% if policy(@contact).edit? %>
        <a href="<%= edit_contact_path(@contact) %>" class="btn btn-primary btn-block active" role="button" aria-pressed="true">Actualizar</a>
        <br/>
      <% end %>
      <a href="<%= contacts_path %>">Regresar</a>
    </div>
  </div>
</div>
