<!DOCTYPE html>
<html>
  <head>
    <title>Bloodsv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="py-4">
    <div class="container">
      <h1>Ayuda a pacientes COVID-19 en El Salvador</h1>
      <p class="lead">
        Comparte tus anticuerpos con una persona en gravedad para combatir la enfermedad.
      </p>

      <%= yield %>
    </div>
  </body>
</html>
