<!DOCTYPE html>
<html>
	<head>
		<title>Bloodsv</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
		<meta property="og:url" 								content="http://salvemosotrosv.com" />
		<meta property="og:type" 								content="article" />
		<meta property="og:title" 							content="#SalvemosOtroSV" />
		<meta property="og:description" 				content="Si ya has superado la #covid-19, puedes  ayudar a otra persona a que lo haga." />
		<meta property="og:image" 							content="/pict/rrss_1200x0628.jpg" />

		<meta name="twitter:title" 							content="#SalvemosOtroSV" />
		<meta name="twitter:description" 				content="Si ya has superado la #covid-19, puedes  ayudar a otra persona a que lo haga." />
		<meta name="twitter:card" 							content="summary_large_image" />
		<meta name="twitter:image" 							content="/pict/rrss_1200x0628.jpg" />

		<link rel="apple-touch-icon" sizes="180x180" href="/pict/icon/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/pict/icon/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="192x192" href="/pict/icon/android-chrome-192x192.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/pict/icon/favicon-16x16.png" />
		<link rel="manifest" href="/pict/icon/site.webmanifest" />
		<link rel="mask-icon" href="/pict/icon/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="shortcut icon" href="/pict/icon/favicon.ico" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="msapplication-config" content="/pict/icon/browserconfig.xml" />
		<meta name="theme-color" content="#ffffff" />

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body class="p-2 m-0">
		<div class="container">
			<h1 class="head_name"><em><strong>#SalvemosOtroSV</strong></em></h1>
			<h5>
				<em>
					En El Salvador existe el <strong>Programa de Plasma Convaleciente</strong> para pacientes afectados por <strong>#covid-19</strong>.
					<br/>
					En este sitio ponemos en contacto a personas recuperadas con personas enfermas. Si perteneces al primer grupo puedes donar tu plasma y salvar vidas.
					<br/>
					<br/>
				</em>
			</h5>
		</div>

		<%= yield %>
		<footer class="text-white bg-dark">
			<div class="container">
				<div class='py-4 text-right'>
					<p>
						<em>
							Este es un proyecto sin fines de lucro con el objetivo de apoyar a personas afectadas por la #covid-19.<br/>
						</em>
					</p>
				</div>
			</div>
		</footer>
	</body>
</html>
